<form method="PATCH" action="/posts/:id">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type= "text" id= "name" name= "name">
<input type = "text" id = "content" name = "content">
<input id = "submit" type = "submit">
</form>
